body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Title{
  font-size: 50px;
  padding: 0px 30px;
  color: rgb(40, 117, 63);   
}
.ButonCapitura{
  background-color: chartreuse;
    border: 20;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 9px 10px;
    font-size: 24px;
}
.Salvar-imagem{
  background-color: rgb(17, 0, 255);
  border: 15;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Foto-capturada{
  color: red;
}
